<p>
  <strong>Confirmación de activación de tarjeta SIM.</strong>
</p>
<table>
  <tr>
    <td>
      <p class="figou_content_center">
        ¡Hola :nombre, hemos recibido tu soliciutd!
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="figou_content_center">
        Si tienes alguna duda acerca de tu solicitud, llámanos al 55 8880 2204 o
        escríbenos a nuestro WhatsApp al 33 4088 0170.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <br />
      <div class="figou_content_center">
        <p><strong>Gracias y disfrútalo,</strong></p>
        <p><strong>LGBTMASMOBILE</strong></p>
      </div>
    </td>
  </tr>
</table>
