<p>
  <strong>Se realizo un pedido desde la página web.</strong>
</p>
<p>
  El monto del plan es de :totalPlan, por :paymentMethod.
  <span style="color: red">:error</span>
</p>
<table>
  <tr>
    <td>
      <span>Order ID: :referenceNumber</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Plan: :productName</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Tipo: Recarga</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Email: :email</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Msisdn: :msisdn</span>
    </td>
  </tr>

  <tr>
    <td>
      <br />
      <p><strong>Gracias y disfrútalo,</strong></p>
      <p><strong>LGBTMASMOBILE</strong></p>
    </td>
  </tr>
</table>
