<p>
  <strong>Solicitud de activación de tarjeta SIM.</strong>
</p>
<p>
  El monto del plan es de :totalPlan, por :paymentMethod.
  <span style="color: red">:error</span>
</p>
<table>
  <tr>
    <td>
      <span>Order ID: :referenceNumber</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Plan: :productName</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Tipo: Activación</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Código de referido: :referido</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Cliente: :nombre</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Email: :email</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Dirección: :direccion</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Contacto: :telefonoContacto</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Fecha de nacimiento: :nacimiento</span>
    </td>
  </tr>
  <tr>
    <td>
      <br />
      <p><strong>Gracias y disfrútalo,</strong></p>
      <p><strong>LGBTMASMOBILE</strong></p>
    </td>
  </tr>
</table>
