<p>
  <strong
    >Se confirmo una solicitud para descuento en nómina con la siguiente
    información:</strong
  >
</p>
<p>El monto del plan es de :totalTotal.</p>
<table>
  <tr>
    <td>
      <span>Order ID: :referenceNumber</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Plan: :plan</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Cliente: :nombre</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Empresa: :empresa</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Matricula: :matricula</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Teléfono: :telefono</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Email: :email</span>
    </td>
  </tr>
  <tr>
    <td>
      <br />
      <p><strong>Gracias y disfrútalo,</strong></p>
      <p><strong>LGBTMASMOBILE</strong></p>
    </td>
  </tr>
</table>
