<p>
  <strong>Solicitud de activación de tarjeta SIM.</strong>
</p>
<table>
  <tr>
    <td>
      <span>Tipo: Activación y Portabilidad</span>
    </td>
  </tr>

  <tr>
    <td>
      <span>Cliente: :nombre</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Fecha de nacimiento: :nacimiento</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Email: :email</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Dirección: :direccion</span>
    </td>
  </tr>
  <tr>
    <td>
      <span>Contacto: :telefonoContacto</span>
    </td>
  </tr>

  <tr>
    <td>
      <span>numero a portar: :msisdn_to_port</span>
    </td>
  </tr>

  <tr>
    <td>
      <span>NIP: :nip</span>
    </td>
  </tr>

  <tr>
    <td>
      <span>SIM a activar: 895214006201 :iccid F </span>
    </td>
  </tr>
  <tr>
    <td>
      <br />
      <div class="figou_content_center">
        <p><strong>LGBTMASMOBILE</strong></p>
      </div>
    </td>
  </tr>
</table>
