</td>
</tr>
</table>
<table id="figou_footer" class="figou_table" align="center" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <div class="figou_content_center">
                <a href="https://lgbtmasmobile.com/aviso-de-privacidad/" target="_blank" class="aviso">Aviso de privacidad/ T&eacute;rminos y Condiciones</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="figou_content_center">
                Andes 10, Los Alpes, Álvaro Obregón
                <br/>
                C.P:01010 Ciudad de México, CDMX<br/>
                Tel: +52 (55) 8880 2204
                <br/><br/>
                <a href="https://lgbtmasmobile.com/" target="_blank" class="figou_link">lgbtmasmobile.com</a>
            </div>
        </td>
    </tr>
</table>
</div>
</body>
</html>