<p>Hola :nombre. Gracias por tu solicitud.</p>
<table class="figou_table">
  <tr>
    <td style="width: 50%">
      <p>
        Pedido <span class="pedido">#:pedido</span><br />
        Fecha de orden: :fecha_orden<br />
        Estatus: <span class="pedido">Pendiente de aprovación.</span>
      </p>
    </td>
    <td style="width: 50%">
      <p>
        Tu pedido se enviará a:<br />
        :direccion
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
</table>
<p class="subtitle_resumen">Resumen de compra:</p>
<table class="figou_table_resumen">
  <tr>
    <td>
      <p>:plan</p>
      <p>
        Plan: :totalPlan<br />
        SIM: :totalSim<br />
        Total: :totalTotal<br />

        Método de pago: :paymentMethod
      </p>
    </td>
  </tr>
</table>
<table class="figou_table figou_content_center">
  <tr>
    <td>
      <p>
        Si tienes alguna duda acerca de tu pedido, llámanos al 55 8880 2204 o
        escríbenos a nuestro WhatsApp al 33 4088 0170.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p><strong>LGBTMASMOBILE</strong></p>
    </td>
  </tr>
</table>
