<p>
  <strong>Gracias por tu pedido con pago en Oxxo</strong>
</p>
<p>Recarga :plan, tu monto de pago es de $:monto pesos.</p>
<p>
  Acude a cualquier Oxxo entregando tu número de referencia:
  <span class="pedido">:reference</span>
</p>
<p class="subtitle_resumen">Resumen de compra:</p>
<table class="figou_table_resumen">
  <tr>
    <td>
      <div class="figou_content_center">
        <img src=":barcodeUrl" alt="codebar" />
        <p class="reference">:reference</p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        En cuanto realices tu Oxxo pay te llegará un SMS de recarga exitosa.
      </p>
    </td>
  </tr>
</table>
<table class="figou_table figou_content_center">
  <tr>
    <td>
      <p>
        Si tienes alguna duda acerca de tu pedido, llámanos al 55 8880 2204 o
        escríbenos a nuestro WhatsApp al 33 4088 0170.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p><strong>LGBTMASMOBILE</strong></p>
    </td>
  </tr>
</table>
